%article

  How it works:

  %ol
    %li Fill out the sign up form.
    %li Each week we will send you an email with a list of skilled devs who are looking for work.
    %li You can choose which devs you want to interview. If a dev accepts an interview, we charge you $99. If they decline, there is no fee.
    %li If you find the right dev, hire them! There is no hiring fee.

  .space30

  = link_to "Company signup", [:new, :company]
  .or ||
  = link_to "Go home", :root
