%article

  How it works:

  %ol
    %li Fill out the sign up form.
    %li
      We select a few devs each week to be sent out in the email. We will let you know when you've been selected. Your identifying information will 
      %br be masked.
    %li You will be notified if a company wants interview you. You can accept or decline each interview.
    %li You get a great job!

  .space30

  = link_to "Dev signup", [:new, :candidate]
  .or ||
  = link_to "Go home", :root
