%h1 Frequently Asked Questions
.space
Well, actually just questions that we think you might have.
.space20
.question
  Does 500 Interviews cost anything?
.answer
  No!

.question
  How does this whole thing work?
.answer
  Stuff!


:css
  .question {
    font-weight:bold;
    margin-bottom:8px;
  }

  .answer {
    margin-bottom:15px;
  }

