%article#main

  We send out a weekly email to over 300 companies with a list of skilled developers who are looking for work.

  .space30

  %strong Devs:
  Use curl jobs to get many interviews quickly and without hassle. It’s free for you.

  .space20

  = link_to "Dev signup", [:new, :candidate]
  .or ||
  = link_to "How it works".html_safe, devs_how_it_works_path

  .space30

  %strong Companies:
  Use curl jobs to find skilled devs without paying massive recruiting fees.

  .space20

  = link_to "Company signup", [:new, :company]
  .or ||
  = link_to "How it works".html_safe, companies_how_it_works_path
