%article

  Thanks for signing up! You're now on our list.

  .space20

  We handpick the people we highlight each week. We'll let you know in advance when you get selected.

  .space20
  If you have any other questions you can reach us at
  = mail_to "support@#{root_domain}."

  .space20
  =# Also, please refer anyone else you know that's looking for work. We'll pay you
  =# %span.green $50
  =# if they accept an interview.

  .space15

  = image_tag 'brace_yourself.png'

  .space30

  = link_to "Go home", root_path

