%h2 You're in!

You're now signed up for 500 Interviews. You can expect to receive an email from us every Tuesday. If you don't receive it then please contact us &mdash; it may be a spam filter issue that we can help you fix. 

- 3.times do
  .space

We'd love your feedback as 500 Interviews progresses. Our goal is to make something that works well for everyone invovled, so if you've got an opinion then send it our way!

- 3.times do
  .space

= link_to "Back to home page", root_path
