%article

  You're now signed up for curl jobs! You can expect to receive an email from us every Tuesday.

  .space15

  We're trying to make something really great, so please send us your feedback at any time.

  .space15

  = link_to "Go home", root_path
